div {
    width: 300px;
    height: 100px;
    border: 2px solid black;
}

.overflow_visible {
    overflow: visible;
}

.overflow_hidden {
    overflow: hidden;;
}

.overflow_scroll {
    overflow: scroll;;
}