html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

p, ol, ul {
    padding-bottom: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia;
}

hr {
   margin-top: 30px;
   margin-bottom: 30px; 
}

table {
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

th {
    text-align: left;
    border-spacing: 0;
    padding: 5px;
}

table tr:first-child {
    background-color: grey;

}

table tr:nth-child(2n + 2) {
    background-color: lightgrey;
}

td {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

blockquote {
    margin: 20px;
    padding: 20px;
    font-style:italic;
    border-left: 5px solid #ccc;
}

blockquote p.author {
    text-align: right;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}