div {
    border: 2px solid black;
    margin: 20px;
    padding-left: 5px;
}


.fixed_width {
    width:300px;
}

.percentage_width {
    width: 50%;
}

.viewport_width {
    width: 50vw;
}

.min_max_width {
    min-width: 100px;
    max-width: 300px;
    box-sizing: border-box;
}