* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding: 2em;
    display: flex;
    border: 2px solid green;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


header, main, footer {
    border: 2px solid blue;
    padding: 2em;
}

.container > * + * {
    margin-top: 2em;
}

main {
    flex: 1 1 auto;
}


