* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font: 20px/1.5 'Lato', sans-serif;
}

.container {
    margin: 15em auto;
    width: 75%;
    background-color: white;
    padding: 0.7em;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 1150px;
}

.container > form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.container > form > * {
    padding: 1.3em;
    border-radius: 3px;
    border: 0;
    background-color: #eee;
    font-weight: 600;
}

.container > form > input#name,
.container > form > button {
    flex: 0 0 calc(25% - 0.5em);
}

.container > form input#email {
    flex: 1;
}

.container > form button {
    background-color: darkorange;
    color: white;
}

@media (max-width: 800px) {
    .container {
        width: 90%
    }
}

@media (max-width: 600px) {
    .container > form > button {
        flex: 1 1 100%
    }

    .container > form > input#name {
        flex: 1 1 calc(40% - 0.5em);
    }

    .container > form > input#email {
        flex: 1 1 calc(55% - 0.5em);
    }
}

