* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font: 20px/1.5 'Lato', sans-serif;
}

.card {
    width: 45%;
    margin: 4em auto;
    background-color: white;
    padding: 2em 4em;
    max-width: 1150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.container h2 + hr {
    width: 20%;
    color: #eee;
    border: 1px solid rgb(163, 163, 163);
}

.container > form {
    display: flex;
    flex-direction: column;
}

.container > form input {
    margin-bottom: 2em;
    border: 2px solid rgb(163, 163, 163);
    padding: 1em;
}

.container > form label::after {
    content:"*";
    color: red;
    font-weight: 800;
}

.container > form label {
    font-weight: 700;
}

.container > form button {
    padding: 1em;
    background-color: darkorange;
    color: white;
    border: 0;
    font-size: 16px;
    font-weight: 700;
}

.container > form button,
.container > form input {
    border-radius: 5px;
}

@media  (max-width: 800px) {

    .card {
        width: 60%;
        padding: 2em 2.5em;
    }
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
    .container h2 + hr {
        width: 17%;
    }
}

